@font-face {
    font-family: texto-regular;
    src: url(/assets/fonts/montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: texto-medium;
    src: url(/assets/fonts/montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: texto-semi;
    src: url(/assets/fonts/montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: texto-bold;
    src: url(/assets/fonts/montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: titulo-regular;
    src: url(/assets/fonts/tgextended/TGRegular.otf);
    font-weight: 400;
}

@font-face {
    font-family: titulo-bold;
    src: url(/assets/fonts/tgextended/TGBold.otf);
    font-weight: 700;
}
* {
    list-style-type: none;
}
:root {
    --tituloRegularFont: titulo-regular;
    --tituloBoldFont: titulo-bold;
    --textoRegularFont: texto-regular;
    --textoMediumFont: texto-medium;
    --textoSemiFont: texto-semi;
    --textoBoldFont: texto-bold;
    --blackishGreen: #112211;
    --mintGreen: #8DD3BB;
    --salmon: #FF8682;
    --neutrals: #FFFFFF;
    --black: #000000;
    --blackish: #1C1B1F;
}

.logo__header {
    width: 110px;
    height: 36px;
}

.nav__list-link {
    font-family: var(--textoSemiFont);
    text-decoration: none;
    color: var(--neutrals, #FFF);
    font-style: normal;
    line-height: normal;
}

.login__link {
    font-family: var(--textoSemiFont);
    text-decoration: none;
    color: var(--neutrals, #FFF);
}

.sign-up {
    font-family: var(--textoSemiFont);
    color: var(--blackish-green, #121);
    background: var(--neutrals, #FFF);
    border-radius: 0.5rem;
}

.cta__title {
    font-family: var(--tituloBoldFont);
    color: var(--neutrals);
    text-align: center;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.cta__subtitle {
    font-family: var(--tituloBoldFont);
    color: var(--neutrals);
    text-align: center;
    font-style: normal;
    line-height: normal;
}

.cta__offer {
    font-family: var(--textoSemiFont);
    color: var(--neutrals);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cta__bg {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#stay__form-destino {
    font-family: var(--textoRegularFont);
    font-style: normal;
    line-height: normal;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid #79747E;
    background: #FFF;
    padding: 0.25rem 0rem 0.25rem 1rem;
}
#stay__form-saida {
    font-family: var(--textoRegularFont);
    font-style: normal;
    line-height: normal;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid #79747E;
    background: #FFF;
    padding: 0.25rem 0rem 0.25rem 1rem;
}
#stay__form-destino::placeholder,
#stay__form-saida::placeholder {
    font-family: var(--textoRegularFont);
    color: var(--blackish);
    font-style: normal;
    line-height: normal;
}

#stay__form-passageiro {
    font-family: var(--textoRegularFont);
    color: var(--blackish);
    font-style: normal;
    line-height: normal;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid #79747E;
    background: #FFF;
    padding: 0.5rem 0rem 0.5rem 1rem;
}

.stay__form-submit {
    font-family: var(--textoMediumFont);
    font-style: normal;
    line-height: normal;
    color: var(--blackish-green, #121);
    border: 0;
    border-radius: 0.25rem;
    background: var(--mint-green, #8DD3BB);
    cursor: pointer;
    display: flex;
    height: 3rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.destiny__title {
    font-family: var(--textoSemiFont);
    color: var(--black);
    height: 2.25rem;
    align-self: stretch;
    font-style: normal;
    line-height: normal;
}

.destiny__text {
    font-family: var(--textoRegularFont);
    color: var(--blackish-green, #121);
    opacity: 0.7;
    align-self: stretch;
    font-style: normal;
    line-height: normal;
}

.destiny__btn {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    background-color: var(--neutrals);
    border-radius: 0.25rem;
    border: 1px solid var(--mint-green, #8DD3BB);
    cursor: pointer;
    font-style: normal;
    line-height: normal;
    display: flex;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.destiny__card-title {
    font-family: var(--textoSemiFont);
    color: var(--blackish-green, #121);
    align-self: stretch;
    font-style: normal;
    line-height: normal;
    opacity: 0.7;
}

.destiny__card-link {
    color: var(--blackish-green, #121);
    font-family: var(--textoMediumFont);
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}
.destiny__card-image {
    width: 5.625rem;
    height: 5.625rem;
}
.blog__atracoes-title {
    font-family: var(--tituloBoldFont);
}

.blog__atracoes-text {
    font-family: var(--textoRegularFont);
}

.blog__atracoes-btn {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    border-radius: 0.25rem;
    background: var(--mint-green, #8DD3BB);
    cursor: pointer;
    border: 0;
}

.blog__hoteis-title {
    font-family: var(--tituloBoldFont);
}

.blog__hoteis-text {
    font-family: var(--textoRegularFont);
}

.blog__hoteis-btn {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    border-radius: 0.25rem;
    background: var(--mint-green, #8DD3BB);
    cursor: pointer;
    border: 0;
}
.review__title {
    font-family: var(--textoSemiFont);
    color: var(--black);
}

.review__text {
    font-family: var(--textoRegularFont);
    color: var(--black);
}

.review__btn {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    background-color: var(--neutrals);
    border-radius: 0.25rem;
    border: 1px solid var(--mint-green, #8DD3BB);
    cursor: pointer;
}

.review__card-title {
    font-family: var(--tituloBoldFont);
    color: var(--blackish-green, #121);
}

.review__card-text {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    opacity: 0.5;
}

.review__card-btn {
    font-family: var(--tituloBoldFont);
    color: var(--blackish-green, #121);
    border: 0;
    cursor: pointer;
}

.review__card-name {
    font-family: var(--tituloBoldFont);
    color: var(--blackish-green, #121);
}

.review__card-empresa {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    opacity: 0.5;
}

.newsletter__title {
    font-family: var(--tituloBoldFont);
    color: var(--blackish-green, #121);
}

.newsletter__subtitle {
    font-family: var(--tituloBoldFont);
    color: var(--blackish-green, #121);
    opacity: 0.8;
}

.newsletter__text {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    opacity: 0.7;
}

.newsletter__form-email {
    color: var(--blackish);
    font-family: var(--textoRegularFont);
    font-style: normal;
    line-height: normal;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid #79747E;
    background: #FFF;
    padding: 0.5rem 0rem 0.5rem 1rem;
}

#newsletter__form-email::placeholder {
    color: var(--blackish);
    font-family: var(--textoRegularFont);
}

.newsletter__form-btn {
    font-family: var(--textoRegularFont);
    padding: 0.5rem 1rem;
    gap: 0.25rem;
    color: var(--neutrals, #FFF);
    border-radius: 0.25rem;
    background: var(--blackish-green, #121);
    cursor: pointer;
}
.footer__links {
    background-color: var(--mintGreen);
}
.footer__social-icons {
    color: var(--blackishGreen);
}

.footer__destinations-title,
.footer__activities-title,
.footer__blog-title,
.footer__sobre-title,
.footer__contato-title {
    font-family: var(--tituloBoldFont);
    color: var(--blackish-green, #121);
}

.footer__destinations-link,
.footer__activities-link,
.footer__blog-link,
.footer__sobre-link,
.footer__contato-link {
    font-family: var(--textoMediumFont);
    color: var(--blackish-green, #121);
    opacity: 0.7;
    text-decoration: none;
}
.footer__logo {
    width: 120px;
}