:root {
    --tituloFont: "Libre Franklin", sans-serif;
    --textoFont: "Montserrat", sans-serif;
    --blackishGreen: #112211;
    --mintGreen: #8dd3bb;
    --salmon: #ff8682;
    --neutrals: #ffffff;
    --black: #000000;
    --blackish: #1c1b1f;
}
#hero {
    background-image: url("/assets/images/hero1x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 599px;
}
#hero-promo {
    background-image: url("/assets/images/hero-promo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 537px;
}
#hero-contato {
    background-image: url("/assets/images/hero-contato.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 537px;
}
.form-contato__btn {
    background-color: var(--mintGreen);
}
#form-reserva {
    margin-top: -140px;
}
#newsletter {
    margin-top: -150px;
}
#footer {
    background-color: var(--mintGreen);
}